.App {
  text-align: center;
  width: 50vw;
  margin: 30px auto auto auto;
}
.acardion{
  background-color: #ffffff;
  margin-bottom: 10px;
}
.acardion>.header{
  display: flex;
  align-items: center;
  flex-flow: nowrap;
  padding: 0 10px ;
  cursor:pointer;
}
.acardion>.header>p{
  margin-left:0 ;
  margin-right: auto;
}
.acardion>.header>div{
  margin-right: 0;
  margin-left: auto;
}
.description{
  padding: 20px;
  font-size: 15px;
}
.blockIsOpen{
  border-top:5px solid #0A5745;
}
.headerId{
  font-size: 30px;
  color: #CBCDCF;
  margin-right: 20px;
}
.coloredit{
 color:#0A5745;
}
.onChangeButton{
  font-size: 30px;
  font-weight: bold;
}
.description{
  font-size: 16px;
  line-height: 1.2rem;
  font-weight: 500;
  margin: 0;
}


